/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-site-blocks{
	position: relative;
}
.wp-block-itmar-slide-mv {
	.swiper {
		width: 100%;
		height: 100%;
	}

	.swiper-slide {
		height: 100%;
		overflow: hidden;
		background-color: var(--itmar-content-back);
	}

	// Cube専用
	.swiper.swiper-cube {
		overflow: hidden;

		.swiper-slide {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
		}

		// フロント側にだけ存在するラッパー
		.swiper-slide > .itmar-wrap {
			width: 100%;
			height: auto;
		}

		// エディター側の共通スタイル用ラッパーにも対応する
		.swiper-slide > div:has(> .wp-block-itmar-design-group) {
			width: 100%;
			height: auto;
		}

		.swiper-slide > .itmar-wrap > .wp-block-itmar-design-group {
			width: 100%;
		}
	}
}
